.taxonomy-supplier .form-field.term-parent-wrap{
  display: none;
}

.identificacao_pedido {
  background: #FFF;
  border: 1px solid #BBB;
  padding: 5px 25px;
}

.identificacao_pedido p {
  font-size: 1.3em;
}

.customer_supplier {
  border-collapse: collapse;
}

table .customer_supplier {
  width: 100%;
}

.customer_supplier td, .customer_supplier th {
  border: 1px solid #BBB;
  padding: 5px 10px;
}

/* div [data-name="tipo_de_pedido"]{
  display: none;
} */

.big{
  font-size: 2em;
}
.blue{
  color: blue;
}
.red{
  color: red;
}
.valor {
  text-align: right;
  width: 30%;
}
.nome {
  width: 70%;
  text-align: left;
}
